.login-form {
	width: 440px;
	margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;        
	padding: 30px;
}
.login-form h2 {
	margin: 0 0 15px;
}
.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}
.btn {        
	font-size: 15px;
	font-weight: bold;
}

body {
	background-image: url('../Util/Imagens/fundo.png');
	background-repeat: no-repeat;	
}

h2{
	color: white;
}

.footer-copyright{
	color: white;
}